/* just testing out git with this comment */

body
{
  background-color: yellow;
  font-family: "Verdana", sans-serif;
  /*max-width: 960px;*/
}

html
{
  box-sizing: border-box;
}

*
{
  box-sizing: inherit;
}

h1
{
  background-color: red;
}

header
{
  text-align: center;
  background-color: orange;
  max-width: 100%;
  clear: both;
  margin: 0px;
  border: 2px solid black;
  padding: 10px;
}

section.column-1
{
  max-width:49%;
  background-color: white;
  float: left;
  margin: 0px;
  border: 2px solid black;
  padding: 10px;
  height: 1300px;

}

section.column-2
{
  max-width:49%;
  background-color: purple;
  float: right;
  margin: 0px;
  border: 2px solid black;
  padding: 10px;
  height: 1300px;
  margin-left: -100px;

}

footer
{
  text-align: center;
  max-width: 100%;
  background-color: grey;
  clear: both;
  margin: 0px;
  border: 2px solid black;
  padding: 10px;

}

article
{
  margin: 1px;
  padding: 0 0 2px 2px;
  border: 1px solid red;
}
