* {
    box-sizing: border-box; /*takes into account entire box, like padding etc*/
}

body
{
  max-width: 960px;
}

main
{
  vertical-align: top;
  display: inline-block;
  width: 75%;
  float: right; /* I have to float because im using a fixed position for the links (i think.) */

}


blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links 
{
  vertical-align: top;
  display: inline-block;
  max-width:25%;
  position:fixed;
  height:100%;
  margin: 0;
  padding: 10px;
  background-color: #f1f1f1;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;

}


/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}


@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}

