#glasses {
  position:fixed;
    margin-top: 10%;
    margin-left: 50%;
    z-index:2;
        display: block;

}

#octo
{
    position:absolute;
    margin-left: 50%;
        margin-right: 50%;

    margin-top: 6%;
}

#hat
{
  position: fixed;
  margin-left: 50%;
  z-index: 1;
}
